// grlobel gird styling
.cds--grid {
  margin: 80px 0px 60px 350px;
}

// styling the button set in Homepage
.cds--btn-set {
  margin-top: 110px;
}
.cds--btn--primary {
  margin-right: 50px;
}
// H1 in Homepage
.slogan--h1 {
  font-size: 75px;
  margin-top: 90px;
}
.img--banner {
  width: 85%;
}

.btn--mar-right {
  margin-right: 40px;
  text-decoration: none;
}
// styling the login page

.login--form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  margin-top: 48px;
  background-color: #e5e5e5;
}
.login--formGroup {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
}
.message {
  margin-bottom: 40px;
}
.cds--form-item,
.cds--label,
.cds--stack-scale-7,
.login--formGroup,
.cds--text-input {
  background-color: #fff;
}
.cds--label {
  font-size: 16px;
}
.Btn-set--login {
  width: 146px;
  margin-top: 10px;
}

// Footer styling
footer {
  margin-top: 320px;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul li {
  margin: 0px 10px 0px 30px;
  padding-bottom: 30px;
}
footer ul li a {
  text-decoration: none;
  color: #0f62fe;
}
footer ul li a:hover {
  color: black;
  border-bottom: 1px solid black;
}

//Log out
.logout-btn {
  background-color: transparent;
  border: none;
}

// register page
.container {
  margin-top: 250px;
}

// 404 page
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section img {
  height: 600px;
  width: 400px;
}
