// grlobel gird styling
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
.cds--grid {
  margin: 120px 140px 0px 140px;
}
.login-text {
  font-size: 36px;
}
// styling the button set in Homepage
.cds--btn-set {
  margin-top: 110px;
}
.cds--btn--primary {
  margin-right: 50px;
}
// H1 in Homepage
.slogan--h1 {
  font-size: 75px;
  margin-top: 90px;
}
.img--banner {
  width: 85%;
}

.btn--mar-right {
  margin-right: 40px;
  text-decoration: none;
}
// styling the login page

.login--form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  margin-top: 48px;
  background-color: #e5e5e5;
}
.login--formGroup {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
}
.message {
  margin-bottom: 40px;
}
.cds--form-item,
.cds--label,
.cds--stack-scale-7,
.login--formGroup,
.cds--text-input {
  background-color: #fff;
}
.cds--label {
  font-size: 16px;
}
.Btn-set--login {
  width: 146px;
  margin-top: 10px;
}

// Footer styling
footer {
  // margin-top: 50px;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul li {
  margin: 0px 10px 0px 30px;
  padding-bottom: 30px;
}
footer ul li a {
  text-decoration: none;
  color: #0f62fe;
}
footer ul li a:hover {
  color: black;
  border-bottom: 1px solid black;
}
.footer-ul li {
  border: none;
}

//Log out
.logout-btn {
  background-color: transparent;
  border: none;
}

// register page
.container {
  margin-top: 250px;
}

// 404 page
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section img {
  height: 600px;
  width: 400px;
}
.cds--tabs {
  margin-top: 50px;
  height: 60%;
}

// about page style

.about-text {
  margin-top: 150px;
}
.about-text p {
  margin-top: 10px;
  padding: 0px 150px 0px 0px;
}
@media only screen and (max-width: 450px) {
  .title {
    font-size: 42px;
  }
  .landingpage-img {
    width: 100%;
    display: none;
  }
  .cds--btn--primary {
    margin: 0px 10px 0px 0px;
  }
  footer ul {
    font-size: 12px;
  }
  footer ul li {
    margin: 10px 20px 10px 0px;
  }
  .cds--inline-notification--error {
    margin-left: 50px;
  }
  .reg-notification {
    margin-top: 80px;
  }
  .landingpage-title {
    margin-top: 30px;
  }
  .cds--grid {
    margin: 0px;
  }
  .slogan--h1 {
    font-size: 36px;
    margin-left: 10px;
  }
  .img--banner {
    width: 100%;
  }
  .cds--btn-set {
    margin: 30px 10px;
  }
  .login--formGroup {
    width: 500px;
    padding: 20px;
  }
  .loginbtn {
    width: 100%;
    text-align: center;
  }
  .cds--form {
    padding: 20px;
    width: 100%;
  }
  .regcontainer {
    margin-top: 60px;
  }
  .about-text p {
    padding: 40px 10px 10px 10px;
  }
}
