.cds--grid {
  margin: 30px 140px 20px 140px;
}

* {
  box-sizing: border-box;
  margin: 0px;
}
.cds--row-bg {
  padding: 40px;
  background-color: white;
  border-radius: 15px;
}
.cds--row--bg {
  margin: 30px;
}
.cds--form {
  padding: 30px;
}
.auth--image {
  width: 90%;
}
.cds--select__arrow {
  background-color: transparent;
}
// notification

.cds--inline-notification--error {
  margin-left: 1200px;
  width: 350px;
}
